<!DOCTYPE html>
<html>
<head>
	<title>GICS Predictor</title>
  <style>
  body{
    font-family: sans-serif;
  }
  .button {
    background-color: Yellow;
    border: none;
    color: Black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    margin: 4px 2px;
    cursor: pointer;
  }
  .animal-card {
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 10px 10px 0px #eee;
    width: 400px;
    margin: auto;

	}
	input[type=text]{width:400px;}
  </style>

</head>

<body align="center">

  <h2 style="text-align:center;">Enter your slogan and I will tell you what type of Company you are.</h2>

  <form action="/predict_cigs/" method="post">

    <div class="animal-card" align="center">

			Proposed Slogan:
			<br>
        <input type="text" name="Slogan" width="400px">
      <br>

    </div>

  <br>

  <button type="submit" class="button">
    Click Here For Prediction
  </button>
  </form>

  <br>

  {% if message %}
  <h2>{{message}}</h2>
  {% endif %}

</body>
</html>
